@import '../../styles/variables';

.auth {
	padding: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: calc(100vh - 60px);
	
	.auth-form {
		box-shadow: 0px 1px 5px rgba(0, 0, 0, .2);
		padding: 1.5rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1rem;
		width: 100%;
		max-width: 450px;
		
		.auth-title {
			padding: 1rem;
		}
	
		.form_group {
			width: 100%;
			
			label {
				display: block;
				margin: .4rem 0;
			}
			
			input {
				width: 100%;
				padding: 12px 16px;
				border: 1px solid #ccc;
				border-radius: 4px;
				font-size: 16px;
			}
		}
	
		.btn-auth{
			background-color: $blue-color-light;
			color: $bg-main-light-color;
			display: block;
			width: 100%;
			padding: 14px 24px;
			border: none;
			border-radius: 4px;
			font-size: 16px;
			margin: .5rem auto;
			cursor: pointer;
			transition: background-color .3s ease-in-out;
			
			&:hover {
				background-color: $blue-color-dark;
			}
		}
	}
}