$bg-main-light-color: #f2f2f2;
$bg-main-dark-color: #212121;
$red-color: #F05454;
$green-light-color: #03C988;
$gray-light-color: #DDDDDD;
$blue-color-dark: #222831;
$blue-color-light: #30475E;

// fonts
$font-family: 'Rubik', sans-serif;