@import '../styles/variables';

.header {
	background: $bg-main-dark-color;
	
	.nav {
		background: $bg-main-dark-color;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 1rem;
		
		h1 {
			
			a {
				color: $red-color;
				text-decoration: none;				
			}
		}
		
		.nav-links {
			display: none;
			list-style: none;
			align-items: center;
			justify-content: space-between;
			gap: 1rem;
			
			&.active {
				display: flex;
				
				li {
					
					a {
						color: $bg-main-light-color;
						text-decoration: none;
					}
				
					button {
						background: transparent;
						border: none;
						color: $bg-main-light-color;
						font-size: 16px;
						cursor: pointer;
						transition: color .3s ease-in-out;
						
						&:hover {
							color: $red-color;
						}
					}
				}
			}
		}
	}
}